nav + header { /* Style the header element, which is a sibling of nav */
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #afafaf;
  background-image: url("../images/background.png");
  margin-bottom: 1em;
}