/* GENERAL STYLING, POSITIONING, EFFECTS FOR TWEET */
article.tweet {
  border: 4px solid #545149;
  padding: 1em;
  margin: 1em;
  width: 100%;
  word-wrap: break-word;
}

article.tweet:hover {
  box-shadow: 5px 10px #888888;
}

article.tweet hr {
  border: none;
  height: 3px;
  background-color: #545149;
}

/* STYLES FOR TWEET HEADER */
article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  flex-wrap: wrap;
}

article.tweet .tweet-header-left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

article.tweet header .handle {
  color: rgb(175, 175, 175);
}

/* STYLES FOR TWEET BODY */
article.tweet .tweet-body {
  font-size: 0.8em;
  font-weight: bold;
}

/* STYLES FOR TWEET FOOTER */
article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet footer p {
  padding: 0;
  margin: 0.2em;
  font-size: 0.7em;
}

article.tweet .icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
}

article.tweet .icon-bar i:hover {
  cursor: pointer;
  color: #999484;
}

